################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Projet/FolderExplorer/obj
/Projet/Icones/obj
/Projet/Logger/obj
/Projet/Modele/obj
/Projet/Persistance/obj
/Projet/Stub/obj
/Projet/Test Fonctionnels/obj
/Projet/Test Unitaire/obj
/Projet/Vues/obj
